<div class="w-full">
  <h2 class="text-2xl text-center font-bold mb-6">Welcome Back!</h2>
  <form (ngSubmit)="onSubmit()" class="w-full flex flex-col mx-auto space-y-4 align-center">
    <div class="w-full flex flex-col gap-3">
    <app-input
      type="email"
      id="email"
      name="email"
      placeholder="Email address"
      [(value)]="email"
      [required]="true"
      [icon]="emailIcon">
    </app-input>
    
    <app-input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      [(value)]="password"
      [required]="true"
      [icon]="passwordIcon">
    </app-input>
  </div>
    
  <div class="w-[80%] mt-3 mx-auto">
    <app-button
      type="submit"
      [isLoading]="isLoggingIn"
      defaultText="Login"
      loadingText="Logging in..."
      color="indigo">
    </app-button>
  </div>
  </form>
  <div class="mt-4 text-center">
    <a routerLink="/user/register" class="">
      Don't have an account? <span class="text-blue-500">Register</span>
    </a>
  </div>
</div>