<div class="w-full max-w-lg mx-auto px-4 my-24">
  <h2 class="header-title py-4 text-center">Get Started</h2>
  <form (ngSubmit)="onSubmit()" class="w-full">
    <div class="flex flex-col gap-5">
      <app-input
        type="email"
        id="email"
        name="email"
        placeholder="Email address"
        [(value)]="email"
        [required]="true"
        [icon]="emailIcon"
      >
      </app-input>
      
      <app-input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        [(value)]="password"
        [required]="true"
        [icon]="passwordIcon"
      >
      </app-input>
      
      <app-input
        type="password"
        id="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        [(value)]="confirmPassword"
        [required]="true"
        [icon]="passwordIcon"
      >
      </app-input>
      
      <app-dropdown
        [title]="'Select a Role'"
        [options]="['Buyer', 'Seller']"
        [(selectedValue)]="selectedOption"
      ></app-dropdown>
    </div>
    
    <!-- Error message -->
    <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2 text-center">
      {{ errorMessage }}
    </div>
    
    <div class="w-[80%] mt-5 mx-auto">
      <app-button
        type="submit"
        [isLoading]="isRegistering"
        defaultText="Register"
        loadingText="Creating Account..."
        color="indigo">
      </app-button>
    </div>
  </form>
  <div class="mt-4 text-center hover:cursor-pointer">
    <a routerLink="/user/login" class="">
      Don't have an account? <span class="text-indigo-700">Login</span>
    </a>
  </div>
</div>