<div class="mx-auto border border-indigo-400 rounded-md w-[99%] shadow-md shadow-indigo-700/50">
  <div class="relative w-full">
    <img [src]="ProductImage" alt="product 1 image" class="object-cover w-full rounded-md h-60" />
    <div class="absolute flex flex-col gap-3 p-2 bg-white border border-indigo-300 rounded-full right-2 top-2">
        <lucide-angular
        [img]="heartIcon"
        class="p-1 bg-gray-200 rounded-full"
      ></lucide-angular>
        <lucide-angular
        [img]="expandIcon"
        class="p-1 bg-gray-200 rounded-full"
      ></lucide-angular>
        <lucide-angular
        [img]="shoppingCart"
        class="p-1 bg-gray-200 rounded-full"
      ></lucide-angular>
    </div>
    <div class="absolute p-2 bg-indigo-300 border border-indigo-200 rounded-full top-2 left-2">
        <p class="text-center">50% off</p>
    </div>
    <div class="absolute flex flex-row items-center gap-3 p-2 -translate-x-1/2 bg-indigo-300 border border-indigo-200 rounded-lg shadow-md shadow-indigo-700/70 bottom-2 left-1/2">
        <div class="flex flex-col items-center justify-center">
            <p class="text-lg font-semibold text-indigo-700">11</p>
            <p class="text-sm">Days</p>
        </div>
        <div class="text-3xl font-extrabold text-indigo-900">:</div>
        <div class="flex flex-col items-center justify-center">
            <p class="text-lg font-semibold text-indigo-700">23</p>
            <p class="text-sm">Hours</p>
        </div>
        <div class="text-3xl font-extrabold text-indigo-900">:</div>
        <div class="flex flex-col items-center justify-center">
            <p class="text-lg font-semibold text-indigo-700">49</p>
            <p class="text-sm">Mins</p>
        </div>
        <div class="text-3xl font-extrabold text-indigo-900">:</div>
        <div class="flex flex-col items-center justify-center">
            <p class="text-lg font-semibold text-indigo-700">17</p>
            <p class="text-sm">Sec</p>
        </div>
    </div>
  </div>
  <div class="flex flex-row justify-between p-3 bg-white rounded-b-md">
    <div class="flex flex-col gap-3">
      <p class="text-black/50">Skin Care</p>
      <p class="text-xl font-semibold">SilkSculpt Serum</p>
      <div class="flex flex-row items-center gap-5 text-xl">
        <p class="font-semibold text-indigo-500">$ 35.05</p>
        <p class="line-through text-black/30">$ 40.99</p>
      </div>
    </div>
    <div class="flex flex-row gap-3">
      <p>4.3</p>
      <lucide-angular
        [img]="reviewStar"
        class="text-yellow-500 fill-yellow-500"
      ></lucide-angular>
    </div>
  </div>
</div>