<div class="grid grid-cols-2">
    <div class="text-xl font-semibold">Feature</div>
    <div class="text-xl font-semibold">Description</div>
</div>
<div class="grid grid-cols-2 border mt-2 p-2">
    <div class="">30 Watts</div>
    <div class="">This can power the woofer upto 30DB</div>
</div>
<div class="grid grid-cols-2 border mt-2 p-2">
    <div class="">30 Watts</div>
    <div class="">This can power the woofer upto 30DB</div>
</div>
<div class="grid grid-cols-2 border mt-2 p-2">
    <div class="">30 Watts</div>
    <div class="">This can power the woofer upto 30DB</div>
</div>