<div class="relative px-5 pt-10 py-5 md:my-12 max-w-4xl mx-auto bg-gradient-to-r from-indigo-100/80 to-indigo-200/80 rounded-md">
    <div class="flex justify-around md:justify-around py-5 bg-indigo-500 items-between w-[98%] justify-self-center rounded-md shadow-md shadow-indigo-700/70">
      <app-stats-box
      *ngIf="cartState.getCartValue()?.items as items"
        title="Sub Total"
        [value]="getTotalCartPrice()"
        status="Delivered">
      </app-stats-box>
      <app-stats-box
      *ngIf="cart?.totalItems !== null"
        title="Total Items"
        [value]="cart!.totalItems"
        status="Ordered">
      </app-stats-box>
    </div>

    <div *ngIf="isLoading" class="fixed top-20 bg-violet-300 px-4 py-2 rounded-full z-40 left-1/2 -translate-x-1/2 shadow-md">
      <p>Refreshing cart...</p>
    </div>
    
    <div *ngIf="error" class="mt-5 p-4 bg-red-100 text-red-700 rounded-md">
      {{ error }}
    </div>
    
    <div class="mt-5" *ngIf="cartState.getCartValue()?.items as items">
      <!-- <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Your Cart</h2>
        <p class="text-lg font-medium">Total: ${{ getTotalCartPrice() }}</p>
      </div> -->
      
      <app-cart-item
        *ngFor="let item of items"
        [productName]="item.productName"
        [price]="item.productPrice"
        [quantity]="item.quantity"
        [imageUrl]="item.productImageUrl"
        [totalPrice]="item.totalPrice"
        [itemId]="item.id"
        (deleteItem)="onDeleteItem($event)"
        (increaseQuantity)="onIncreaseQuantity($event)"
        (decreaseQuantity)="onDecreaseQuantity($event)">
      </app-cart-item>
      
      <div *ngIf="items.length === 0" class="mt-5 p-4 bg-gray-100 text-gray-700 rounded-md text-center">
        Your cart is empty.
      </div>

      <div class="my-10 w-[70%] md:w-[50%] mx-auto"
      routerLink="/checkout"
      >
        <app-button
        defaultText="Checkout"
        loadingText="Checking out..."
        >
        </app-button>
      </div>
    </div>
  </div>