<div class="p-2 my-5">
    <div class="flex justify-around py-5 bg-indigo-500 items-between w-[98%] justify-self-center rounded-md shadow-md shadow-indigo-700/70">
        <app-stats-box
        title="In Stock"
        [value]="9"
        status="Transit"
        >
        </app-stats-box>
        <app-stats-box
        title="Pre-order"
        [value]="11"
        status="Transit"
        >
        </app-stats-box>
    </div>
    <div>
    <app-wishlist
    product="Mouse"
    [price]="60.49"
    >
    </app-wishlist>
    <app-wishlist
    product="Keyboard"
    [price]="70.99"
    >
    </app-wishlist>
    <app-wishlist
    product="screen"
    [price]="60.78"
    >
    </app-wishlist>
    <app-wishlist
    product="printer"
    [price]="600.79"
    >
    </app-wishlist>
    <app-wishlist
    product="power meter"
    [price]="89.99"
    >
    </app-wishlist>
    <app-wishlist
    product="scanner"
    [price]="59.99"
    >
    </app-wishlist>
</div>
</div>