/* src/app/shared/components/profile-photo-upload/profile-photo-upload.component.scss */
:host {
    display: block;
  }
  
  .snackbar-success {
    background-color: #4caf50;
    color: white;
  }
  
  .snackbar-error {
    background-color: #f44336;
    color: white;
  }
  
  .snackbar-loading {
    background-color: #2196f3;
    color: white;
  }