<div class="p-4 pt-20 relative overflow-hidden text-indigo-200">

    <!-- indigo background semicircle -->
    <div class="h-[200%] w-[250%] bg-indigo-500 absolute rounded-full -top-[0%] -right-[5%] -z-10">

    </div>

    <h1 class="font-extrabold text-xl">BeanCart</h1>
    <div class="flex flex-col gap-5 mt-7">
    <div>
        <h2 class="font-semibold text-lg text-indigo-100">About Us</h2>
        <ul>
            <li>Location</li>
            <li>Mission</li>
            <li>Vision</li>
        </ul>
    </div>

    <div>
        <h2 class="text-lg font-semibold text-indigo-100">Find Us</h2>
        <ul>
            <li>+254 7911 6599 5</li>
            <li>beancart&#64;gmail.com</li>
        </ul>
    </div>

    <div>
        <p class="text-center">All right reserved - 2025</p>
    </div>
</div>
</div>
